// HOME

.block {
    text-align: center;
    padding: 6.5rem 0;
    .heading-primary {
        color: color(white);  
    }
    .heading-secondary {
        color: color(white);  
    }
}

.header {
    background-color: color(primary);
}

.footer {
    background-color: color(black);
}

.section {
    margin: 4rem 6rem;
    &-search {
        display: block;
        .search-container {
            position: relative;
            .search-bar {
                border: none;
                height: 6.3rem;
                font-size: 2.5rem;
                border-radius: 3px;
                font-family: inherit;
                box-shadow: 0 .3rem 4rem $box-shadow;
                padding: 0 1rem;
                transition: all .2s;
                width: 100%;
                &:focus {
                    outline: none;
                }
            }
            .search-addon {
                position: absolute;
                right: 2rem;
                top: 1.5rem;
                cursor: pointer;
                svg {
                    width: 3.5rem;            
                }
            }        
        }
        .results-container {
            margin-top: 4rem;
            display: flex;
            flex-wrap: wrap;
            .result-status {
                width:100%;
                text-align: center;
                display: flex;
                align-content: center;
                align-items: center;
                justify-content: center;
                height: 60vh;
            }
            .result-container { 
                margin-bottom: 4rem;
                width: 100%;   
                @media (min-width: 600px) and (max-width:900px) {
                    width: 48%;
                    &:not(:nth-of-type(2n)) {
                        margin-right: 4%;
                    }
                }   
                @media (min-width: 900px) and (max-width:1024px){
                    width: 31%;
                    &:not(:nth-of-type(3n)) {
                        margin-right: 3.5%;
                    }                 
                }           
                @media (min-width: 1024px) {
                    width: 22%;
                    &:not(:nth-of-type(4n)) {
                        margin-right: 4%;
                    }
                }    
                // @media (min-width: 500px) {
                //     width: 22%;
                //     &:not(:nth-of-type(4n)) {
                //         margin-right: 4%;
                //     }
                // }               
                background-color: color(white);
                box-shadow: 0 .4rem 4rem $box-shadow;  
                .img-container {
                   width: 100%;
                }              
                .img-wrapper {  
                    overflow: hidden;
                    width: 100%;
                    padding-top: 55.8%;
                    background: url(../img/loader.svg), #eee;
                    background-size: 40%;
                    background-repeat: no-repeat;
                    background-position: center;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                    img {
                        position: absolute;
                        top: 0; bottom: 0; left: 0; right: 0; 
                        width:inherit;
                    }
                }
                .details-container {
                    padding: 1.7rem;
                }
                .video-description {
                    height: 20rem;
                    margin-top: 2rem;
                    margin-bottom: 2rem;
                }
            }
        }        
    }
    &-videoInfo {        
        padding: 4rem;
        box-shadow: 0 .4rem 4rem $box-shadow;
        @media (max-width: 600px) {
            margin: 0; 
        }       
        .videoInfo-container {
            display: flex;
            flex-wrap: wrap;
            .img-container {
                margin-right: 2.5rem;
                width: calc(30% - 2.5rem);
                @media (max-width: 600px) {
                    width: 100%;
                    margin-right:0;
                    margin-bottom: 2rem;
                }   
             }              
            .img-wrapper {  
                overflow: hidden;
                width: 100%;
                padding-top: 56.8%;
                background: url(../img/loader.svg), #eee;
                background-size: 40%;
                background-repeat: no-repeat;
                background-position: center;
                position: relative;
                img {
                    position: absolute;
                    top: 0; bottom: 0; left: 0; right: 0; 
                    width:inherit;
                }
            }
            .video-details {
                width: 70%;
                @media (max-width: 600px)  {
                    width: 100%;
                }   
            }
        }  
    }
}

.progress-box {
    width: 100%;
    height: 2rem;
    margin-top: 2rem;
    display: block;    
    position: relative;
    background-color: color(black);
    .progress-bar {
        transition: width .2s ease;
        position: absolute;
        top: 0; 
        left: 0;
        height: inherit;
        background-color: color(primary);
    }   
}
.btn {
    &, &:link, &:visited {
        color: color(primary);
        font-size: 3.4rem;
        text-decoration: none;
        font-weight: normal;
        margin-top: 2rem;
        display: block;
        margin-bottom: 3rem;
    }
}